.container {
  margin: 7px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
}

.loginInputField {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 444px;
  height: 51px;
  background: white;
  border-radius: 51px;
  overflow: hidden;
}

.loginInputField input {
  flex: 1;
  font-size: 18px;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 14px;
  outline: none;
  border: none;
  border-radius: 51px;
  min-width: 10px;
}

.loginIcon {
  height: 51px !important;
  width: 51px !important;
  background: #ff1e67 !important;
}

.register {
  height: 51px;
  border: 1px solid lightgrey;
  border-radius: 51px;
  background: white;
  font-size: 18px;
  margin-top: 11px;
  padding-left: 18px;
  padding-right: 18px;
  cursor: pointer;
}
