@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  transition: all 444ms !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 11px;
  transition: all 444ms !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 10px;
  transition: all 444ms !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
